**/*.wav
**/test/
**/*.tar.gz
**/*.zip
**/jams
**/xml
**/xml/ternary
**/classical.00044.wav.xml
**/classical.00057.wav.xml
**/classical.00065.wav.xml
**/classical.00073.wav.xml
**/classical.00091.wav.xml
**/country.00010.wav.xml
**/country.00017.wav.xml
**/country.00022.wav.xml
**/country.00031.wav.xml
**/country.00079.wav.xml
**/country.00090.wav.xml
**/country.00091.wav.xml
**/country.00097.wav.xml
**/disco.00041.wav.xml
**/disco.00053.wav.xml
**/jazz.00004.wav.xml
**/metal.00009.wav.xml
**/metal.00012.wav.xml
**/metal.00023.wav.xml
**/metal.00037.wav.xml
**/metal.00077.wav.xml
**/metal.00093.wav.xml
**/pop.00086.wav.xml
**/reggae.00097.wav.xml
**/rock.00027.wav.xml
**/rock.00090.wav.xml
**/*.tar
**/checkpoints/*
**/__pycache__
**/train/*
**/validation/*